In [8]:
import pyspark

In [9]:
import pandas as pd

In [10]:
data=pd.read_csv(r"C:\Users\91798\Desktop\Pyspark\Age.csv")

In [11]:
data

       Name  Age
0     Amrit   21
1     Sejal   22
2     Arpit   21
3  Parinaaz   22

In [12]:
type(data)

pandas.core.frame.DataFrame

In [13]:
from pyspark.sql import SparkSession

In [14]:
spark=SparkSession.builder.appName('PySp_1').getOrCreate()

In [15]:
spark

In [16]:
df_pysk=spark.read.csv(r"C:\Users\91798\Desktop\Pyspark\Age.csv")

In [17]:
df_pysk

DataFrame[_c0: string, _c1: string]

In [18]:
df_pysk.show()

+--------+---+
|     _c0|_c1|
+--------+---+
|    Name|Age|
|   Amrit| 21|
|   Sejal| 22|
|   Arpit| 21|
|Parinaaz| 22|
+--------+---+

In [22]:
spark.read.option('header',True).csv(r"C:\Users\91798\Desktop\Pyspark\Age.csv")

DataFrame[Name: string, Age: string]

In [23]:
type(df_pysk)

pyspark.sql.dataframe.DataFrame

In [25]:
df_pysk.head()

Row(_c0='Name', _c1='Age')

In [26]:
df_pysk.head(3)

[Row(_c0='Name', _c1='Age'),
 Row(_c0='Amrit', _c1='21'),
 Row(_c0='Sejal', _c1='22')]

In [28]:
df_pysk.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)