In [1]:
import pyspark

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark=SparkSession.builder.appName('PySp_3').getOrCreate()

In [4]:
spark

In [7]:
df_pysp=spark.read.option('header','true').csv(r"C:\Users\91798\Desktop\Pyspark\Salary.csv",header=True,inferSchema=True)

In [9]:
df_pysp.show()

+--------+----+----------+------+
|    Name| Age|Experience|Salary|
+--------+----+----------+------+
|   Amrit|  21|         2|150000|
|   Sejal|  22|         4| 95000|
|   Arpit|  21|         3|120000|
|Parinaaz|  22|         5|  null|
| Kritika|  21|      null|  null|
|  Bhavya|null|         7|110000|
|    null|null|      null|  null|
|    null|  22|         8|125000|
+--------+----+----------+------+

In [10]:
df_pysp.drop('Name').show()

+----+----------+------+
| Age|Experience|Salary|
+----+----------+------+
|  21|         2|150000|
|  22|         4| 95000|
|  21|         3|120000|
|  22|         5|  null|
|  21|      null|  null|
|null|         7|110000|
|null|      null|  null|
|  22|         8|125000|
+----+----------+------+

In [12]:
df_pysp.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [13]:
df_pysp.na.drop().show()

+-----+---+----------+------+
| Name|Age|Experience|Salary|
+-----+---+----------+------+
|Amrit| 21|         2|150000|
|Sejal| 22|         4| 95000|
|Arpit| 21|         3|120000|
+-----+---+----------+------+

In [15]:
df_pysp.na.drop(how="any").show()

+-----+---+----------+------+
| Name|Age|Experience|Salary|
+-----+---+----------+------+
|Amrit| 21|         2|150000|
|Sejal| 22|         4| 95000|
|Arpit| 21|         3|120000|
+-----+---+----------+------+

In [17]:
df_pysp.na.drop(how="any",thresh=3).show()

+--------+----+----------+------+
|    Name| Age|Experience|Salary|
+--------+----+----------+------+
|   Amrit|  21|         2|150000|
|   Sejal|  22|         4| 95000|
|   Arpit|  21|         3|120000|
|Parinaaz|  22|         5|  null|
|  Bhavya|null|         7|110000|
|    null|  22|         8|125000|
+--------+----+----------+------+

In [18]:
##Subset
df_pysp.na.drop(how="any",subset=['Age']).show()

+--------+---+----------+------+
|    Name|Age|Experience|Salary|
+--------+---+----------+------+
|   Amrit| 21|         2|150000|
|   Sejal| 22|         4| 95000|
|   Arpit| 21|         3|120000|
|Parinaaz| 22|         5|  null|
| Kritika| 21|      null|  null|
|    null| 22|         8|125000|
+--------+---+----------+------+

In [21]:
### Filling the Missing Value
df_pysp.na.fill('Missing Values',['Experience','Age']).show()

+--------+----+----------+------+
|    Name| Age|Experience|Salary|
+--------+----+----------+------+
|   Amrit|  21|         2|150000|
|   Sejal|  22|         4| 95000|
|   Arpit|  21|         3|120000|
|Parinaaz|  22|         5|  null|
| Kritika|  21|      null|  null|
|  Bhavya|null|         7|110000|
|    null|null|      null|  null|
|    null|  22|         8|125000|
+--------+----+----------+------+

In [22]:
df_pysp.na.fill('Missing Values').show()

+--------------+----+----------+------+
|          Name| Age|Experience|Salary|
+--------------+----+----------+------+
|         Amrit|  21|         2|150000|
|         Sejal|  22|         4| 95000|
|         Arpit|  21|         3|120000|
|      Parinaaz|  22|         5|  null|
|       Kritika|  21|      null|  null|
|        Bhavya|null|         7|110000|
|Missing Values|null|      null|  null|
|Missing Values|  22|         8|125000|
+--------------+----+----------+------+

In [27]:
from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols=['Age'], 
    outputCols=["{}_imputed".format(c) for c in ['Age']]
    ).setStrategy("median")

In [28]:
imputer.fit(df_pysp).transform(df_pysp).show()

+--------+----+----------+------+-----------+
|    Name| Age|Experience|Salary|Age_imputed|
+--------+----+----------+------+-----------+
|   Amrit|  21|         2|150000|         21|
|   Sejal|  22|         4| 95000|         22|
|   Arpit|  21|         3|120000|         21|
|Parinaaz|  22|         5|  null|         22|
| Kritika|  21|      null|  null|         21|
|  Bhavya|null|         7|110000|         21|
|    null|null|      null|  null|         21|
|    null|  22|         8|125000|         22|
+--------+----+----------+------+-----------+