In [1]:
import pyspark

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark=SparkSession.builder.appName('PySp_2').getOrCreate()

In [4]:
spark

In [5]:
spark.read.option('header','true').csv(r"C:\Users\91798\Desktop\Pyspark\Exp.csv").show()

+--------+---+----------+
|    Name|Age|Experience|
+--------+---+----------+
|   Amrit| 21|         2|
|   Sejal| 22|         4|
|   Arpit| 21|         3|
|Parinaaz| 22|         5|
+--------+---+----------+

In [8]:
df_pysp=spark.read.option('header','true').csv(r"C:\Users\91798\Desktop\Pyspark\Exp.csv",inferSchema=True)

In [9]:
df_pysp.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [10]:
type(df_pysp)

pyspark.sql.dataframe.DataFrame

In [11]:
df_pysp.columns

['Name', 'Age', 'Experience']

In [12]:
df_pysp.head(2)

[Row(Name='Amrit', Age=21, Experience=2),
 Row(Name='Sejal', Age=22, Experience=4)]

In [13]:
df_pysp.show()

+--------+---+----------+
|    Name|Age|Experience|
+--------+---+----------+
|   Amrit| 21|         2|
|   Sejal| 22|         4|
|   Arpit| 21|         3|
|Parinaaz| 22|         5|
+--------+---+----------+

In [14]:
df_pysp.select('Experience')

DataFrame[Experience: int]

In [15]:
df_pysp.select('Experience').show()

+----------+
|Experience|
+----------+
|         2|
|         4|
|         3|
|         5|
+----------+

In [16]:
df_pysp.select(['Experience','Name'])

DataFrame[Experience: int, Name: string]

In [17]:
df_pysp.select(['Experience','Name']).show()

+----------+--------+
|Experience|    Name|
+----------+--------+
|         2|   Amrit|
|         4|   Sejal|
|         3|   Arpit|
|         5|Parinaaz|
+----------+--------+

In [18]:
df_pysp['Experience']

Column<'Experience'>

In [19]:
df_pysp.dtypes

[('Name', 'string'), ('Age', 'int'), ('Experience', 'int')]

In [20]:
df_pysp.describe()

DataFrame[summary: string, Name: string, Age: string, Experience: string]

In [21]:
df_pysp.describe().show()

+-------+-----+------------------+------------------+
|summary| Name|               Age|        Experience|
+-------+-----+------------------+------------------+
|  count|    4|                 4|                 4|
|   mean| null|              21.5|               3.5|
| stddev| null|0.5773502691896262|1.2909944487358056|
|    min|Amrit|                21|                 2|
|    max|Sejal|                22|                 5|
+-------+-----+------------------+------------------+

# Add the columns

In [24]:
new_df_pysp=df_pysp.withColumn('Experience After 8 yrs',df_pysp['Experience']+8)

In [25]:
new_df_pysp.show()

+--------+---+----------+----------------------+
|    Name|Age|Experience|Experience After 8 yrs|
+--------+---+----------+----------------------+
|   Amrit| 21|         2|                    10|
|   Sejal| 22|         4|                    12|
|   Arpit| 21|         3|                    11|
|Parinaaz| 22|         5|                    13|
+--------+---+----------+----------------------+

In [26]:
new_df_pysp_del=new_df_pysp.drop('Experience After 8 yrs')

In [27]:
new_df_pysp_del.show()

+--------+---+----------+
|    Name|Age|Experience|
+--------+---+----------+
|   Amrit| 21|         2|
|   Sejal| 22|         4|
|   Arpit| 21|         3|
|Parinaaz| 22|         5|
+--------+---+----------+

In [29]:
new_df_pysp_del.withColumnRenamed('Name',"Naam").show()

+--------+---+----------+
|    Naam|Age|Experience|
+--------+---+----------+
|   Amrit| 21|         2|
|   Sejal| 22|         4|
|   Arpit| 21|         3|
|Parinaaz| 22|         5|
+--------+---+----------+